<ij-loader [showLoader]='!hasJobsLoaded' [displayText]="'Looking for jobs'"></ij-loader>

<h4 [hidden]='!hasJobsLoaded' class='subtitle is-4 has-text-grey-darker'>
  Top {{jobsCount}} Jobs
</h4>
<hr *ngIf='hasJobsLoaded'>
<div class="box" *ngFor='let job of jobs'>
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64" *ngIf='job.companyLogo'>
        <img [src]='job.companyLogo' alt="{{job.company}} Logo">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <div>
          <strong [innerHtml]='job.title'></strong>
        </div>
        <div>
          <small> at </small>
          <span> {{job.company}} </span>
          <a *ngIf='job.companyUrl' class='is-size-7 is-italic' [href]="job.companyUrl">
            ({{job.companyUrl}})
          </a>
        </div>
        <div>
          <ij-job-location-google-maps [jobLocation]='job.location'></ij-job-location-google-maps>
        </div>
      </div>
    </div>
    <div class="media-right">
      <div>
        <p class='has-text-right'>
          <ij-job-allow-remote [jobAllowRemote]='job.allowRemote'></ij-job-allow-remote>
        </p>
        <p class='has-text-right'>
          <span class="has-text-grey is-size-6">{{job.createdAt}}</span>
        </p>
        <p class='has-text-right'>
          <a>See details</a>
        </p>
      </div>
    </div>
  </article>
</div>
