<h4 class='subtitle is-4 has-text-grey-darker'>
  <span class="icon has-text-info">
    <i class="lnr lnr-briefcase"></i>
  </span>
  Top 50th Jobs
</h4>
<hr>
<div class="box" *ngFor='let job of jobs'>
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64" *ngIf='job.companyLogo'>
        <img [src]='job.companyLogo' alt="{{job.company}} Logo">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <div>
          <strong>{{job.title}}</strong>
        </div>
        <div>
          <small> at </small>
          <a [href]="job.companyUrl ? job.companyUrl : '#'" [title]="job.companyUrl ? job.companyUrl : 'Site not Found'">
            {{job.company}}
          </a>
        </div>
        <div>
          {{job.location}}
          <span>
            <a [href]="job.locationSearchGMaps()">
              <span class='icon' title="See {{job.location}} on Google Maps">
                <i class='lnr lnr-map-marker'></i>
              </span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="media-right">
      <div>
        <p class='has-text-right'>
          <span class="has-text-success has-text-weight-bold">{{job.type}}</span>
        </p>
        <p class='has-text-right'>
          <span class="has-text-grey is-size-6">{{job.createdAt}}</span>
        </p>
        <p class='has-text-right'>
          <a>See details</a>
        </p>

      </div>
    </div>
  </article>
</div>
