<header>
  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="container is-flui">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="assets/infinity-jobs.png" alt="Inifity Jobs">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span class='is-white' aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a routerLink='/' class="navbar-item">
            Find a nice job!
          </a>
          <a href="https://jobs.github.com/post" class="navbar-item">
            Post a Job.
          </a>
        </div>
      </div>
    </div>
  </nav>

</header>
