<div class="columns">
  <div class="column">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input is-medium is-rounded" type="search" placeholder="Search by position, company or benefits">
        <span class="icon is-small is-left">
          <i class="fas fa-rocket"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <p class="control has-icons-left ">
        <input class="input is-medium is-rounded" type="search" placeholder="Search by location or 'Remote'">
        <span class="icon is-small is-left">
          <i class="fas fa-globe"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="column is-one-fifth has-text-centered is-vcentered">
    <div class="field">
      <input class='is-checkradio is-circle is-info' id='remote-only' type="checkbox">
      <label for='remote-only'>Only
        <span class="has-text-weight-bold has-text-primary">Allow Remote</span>
      </label>
    </div>
  </div>
</div>
