.landing-banner {
  background-image: url("https://i.gifer.com/M9BH.gif"), url("https://media1.tenor.com/images/d5da666a1dabd19856f4e911b2ed613e/tenor.gif"), url("https://media.giphy.com/media/toXKzaJP3WIgM/giphy.gif");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 30% 100%, 40% 100%, 30% 100%;
  background-position: left, center, right;
}

.landing-banner .layer {
  background-color: rgba(109, 25, 81, 0.288);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 55.6%;
}

.landing-banner .container {
  text-align: center;
  padding: 50px;
}

.landing-banner figure.main-logo img {
  width: 140px;
  height: 120px;
}

.landing-banner .title, .subtitle {
  font-family: 'Muli', sans-serif;
  color: white !important;
}

.landing-banner .subtitle {
  font-style: italic;
}

@media (max-width: 600px) {
  .landing-banner .container {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .landing-banner figure.main-logo img {
    width: 80px;
    height: 60px;
  }
}
