<section class="hero is-small is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="level-item has-text-centered">
        <figure class='image is-128x128 has-text-justified'>
          <img src="assets/infinity-jobs.png" alt="Infinity Jobs Logo">
        </figure>
      </div>
      <h1 class="title">
        Infinity Jobs
      </h1>
      <h2 class="subtitle">
        Find nice Jobs around the world!
      </h2>
    </div>
  </div>
</section>

<section class='section'>
  <div class="container">
    <div class="columns">
      <div class="column">
        <ij-job-search></ij-job-search>
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <ij-job-list></ij-job-list>
      </div>
    </div>
  </div>
</section>
